<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>设置答题卡.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C65C63ED1DCC7A950015E2C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C65C64061DCC7A950015E2C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C65C64111DCC7A950015E2C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
